

<p>SignIn</p>
<br>
<ul>
  <%= form_for(:session, url: sessions_path) do |f| %>
    <li><%= f.label :email %></li>
    <li><%= f.text_field :email %></li>

    <li><%= f.label :password %></li>
    <li><%= f.password_field :password %></li>
    <li><%= f.submit 'Ligin into the system' %></li>
  <% end %>
</ul>
